@model IEnumerable<WebSalt.Models.Hotarari>

<label id="count" style="display:none;">@Model.Count()</label>

        <table class="table table-responsive table-bordered table-striped ">
            <thead>
                <tr style="font-size:18px;">
                    <th style="text-align: center;width:6%;">
                        Ord.
                    </th>
                    <th style="text-align: center; width:10%;">
                        Număr
                    </th>
                    <th style="text-align: center; width:74%;">
                        Părți
                    </th>
                    <th style="text-align: center; width:10%;">
                        Status
                    </th>
                </tr>
            </thead>
            <tbody >
                @foreach (var item in Model.Where(x => x.status_sedinta == "in sedinta"))
                {
                    <tr style="color: #FF0000">

                        <td style="width:6%">
                            @item.nr_ordine_text
                        </td>
                        <td style="font-weight: bold; width:10%">
                            @item.numar_national
                        </td>

                        <td style="width:74%">
                            @*<textarea id="text" style="display:none;">Intră în dezbatere dosarul @item.numar_national cu părțile: @item.parti.ToLower()</textarea>*@
                            @if (item.parti.Length > 110)
                            {
                            <marquee direction="left" scrollamount="3" behavior="scroll">
                                @item.parti
                            </marquee>
                            }
                            else
                            {
                                @item.parti
                            }

                        </td>
                        <td style="width:10%">
                            În dezbatere
                        </td>

                    </tr>
                }
            </tbody>
        </table>
<div class="outer">
    <table  class="inner table table-responsive table-bordered table-striped" >

            @foreach (var item in Model.Where(x => x.status_sedinta != "in sedinta"))
            {
                var style = (item.status_sedinta == "nejudecat") ? "color: #000000;" : (item.status_sedinta == "judecat") ? "color: #0000ff;" : (item.status_sedinta == "in sedinta") ? "color: #FF0000;" : "";
                <tr style="@style">
                    <td style="width:6%">
                        @item.nr_ordine_text
                    </td>
                    <td style="font-weight: bold; width:10%">
                        @item.numar_national
                    </td>
                    <td style="width:74%">
                        @if (item.parti.Length > 110)
                        {
                            @(String.Format("{0} {1}", @item.parti.Substring(0, 110).ToString(), "..."));
                        }
                        else { @item.parti }
                        
                    </td>
                    @if (item.status_sedinta == "judecat")
                {
                        <td style="width:10%">
                            @item.pronuntare_sedinta

                        </td>
                    }
                    else
                    {
                        <td style="width:10%">
                            Nejudecat
                        </td>
                    }
                </tr>
            }
    </table>
</div>


    @*<script>
        responsiveVoice.OnVoiceReady = function () {
            console.log("speech time?");
            responsiveVoice.speak($('#text').val(), 'Romanian Male');
        };
    </script>*@

    <script>
        function autoScrollDown() {
            $(".inner").css({ top: -$(".outer").outerHeight() }) // jump back
                       .animate({ top: 0 }, 250000, "linear", autoScrollDown); // and animate
        }
        function autoScrollUp() {
                $(".inner").css({ top: 0 }) // jump back
           .animate({ top: -$(".outer").outerHeight() }, 250000, "linear", autoScrollUp); // and animate
            }
            // fix hight of outer:
            //$('.outer').css({ maxHeight: $('.inner').height() });
        // duplicate content of inner:
        if ($("#count").text() > 20) {
            $('.inner').html($('.inner').html() + $('.inner').html() + $('.inner').html() + $('.inner').html() + $('.inner').html() + $('.inner').html() + $('.inner').html());
            autoScrollUp();
        }

            

    </script>


